<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.Interface.Produce1Mapper">
<select id="FindProduct" resultType="com.example.demo.dao.bo.Produce">

select product_id,sku_name,picture,price from produce
<where>
<if test="sku_name!=null and sku_name!=''">
   sku_name like concat("%",#{sku_name},"%")
</if>
</where>
limit #{startindex},#{pageSize}


</select>
   <resultMap id="sysUserMenu" type="arraylist">
      <id property="id"  column="id"></id>
      <result property="name" column="name"></result>
      <result property="url" column="url"></result>
      <collection property="childs" ofType="arraylist">
         <id property="id" column="cid"/>
         <result property="name" column="cname"/>
         <result property="url" column="curl"/>
      </collection>
   </resultMap>
<select id="findMenusByids" resultMap="sysUserMenu">
select p.id,p.name,p.url,c.id cid,c.name cname,c.url curl
from sys_menus p inner join sys_menus c on c.parentId=p.id
where p.parentId is null and c.id in
<foreach collection="menuIds" separator="," open="(" close=")" item="menuId">
#{menuId}

</foreach>

</select>

<!--</select>-->
<!--<insert id="findMenusByids"  >-->
<!--   insert into sys_roles_menus-->
<!--   (role_id,menu_id)-->
<!--   values-->
<!--   <foreach collection="menuId" separator="," open="(" close=")" item="menuId">-->
<!--      (#{role_id},#{menu_id})-->
<!--   </foreach>-->
<!--   </insert>-->

</mapper>